@charset "UTF-8";


/*Configuração básica para posição de cada li*/
ul#photos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

/*Configuração básica da posição de cada li e a velocidade que amplia a foto ao passar o mouse*/
ul#photos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 30px;
    border: 5px solid #8a8888;
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px rgba(0,0,0,4);
    -webkit-transition: all .4s ease-in;
}


/*Configuração do span dentro do li ( legenda )*/
ul#photos li span {
    opacity: 0;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 350px;
    padding: 5px;
}

 /*Ampliar a imagem ao passar o mouse*/
ul#photos li:hover {
    -webkit-transform: scale(1.5);
}

/*Quando passar o mouse por cima, aparecerá a legenda*/
ul#photos li:hover span {
    opacity: 1;
}

/*Configuração básica de cada li(foto) ampliando o size e colocando a posição no centro*/
ul#photos li#photo01 {
    background: url('../img/nx02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*Configuração básica ao passar o mouse por cima de cada foto mudando o size para menor e mudar a posição*/
ul#photos li#photo01:hover {
    background-position: 0px 0px;
    background-size: 230px 230px;
}

/*Configuração básica de cada li(foto) ampliando o size e colocando a posição no centro*/
ul#photos li#photo02 {
    background: url('../img/DaniWeksler2.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*Configuração básica ao passar o mouse por cima de cada foto mudando o size para menor e mudar a posição*/
ul#photos li#photo02:hover {
    background-position: 0px 0px;
    background-size: 300px 300px;
}

/*Configuração básica de cada li(foto) ampliando o size e colocando a posição no centro*/
ul#photos li#photo03 {
    background: url('../img/FiRicardo.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*Configuração básica ao passar o mouse por cima de cada foto mudando o size para menor e mudar a posição*/
ul#photos li#photo03:hover {
    background-position: 0px 0px;
    background-size: 300px 300px;
}

/*Configuração básica de cada li(foto) ampliando o size e colocando a posição no centro*/
ul#photos li#photo04 {
    background: url('../img/CacoGrandino.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*Configuração básica ao passar o mouse por cima de cada foto mudando o size para menor e mudar a posição*/
ul#photos li#photo04:hover {
    background-position: 0px 0px;
    background-size: 300px 300px;
}

/*Configuração básica de cada li(foto) ampliando o size e colocando a posição no centro*/
ul#photos li#photo05 {
    background: url('../img/DiFerreroVocal.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*Configuração básica ao passar o mouse por cima de cada foto mudando o size para menor e mudar a posição*/
ul#photos li#photo05:hover {
    background-position: 0px 0px;
    background-size: 250px 250px;
}

/*Configuração básica de cada li(foto) ampliando o size e colocando a posição no centro*/
ul#photos li#photo06 {
    background: url('../img/Gee_Rocha.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*Configuração básica ao passar o mouse por cima de cada foto mudando o size para menor e mudar a posição*/
ul#photos li#photo06:hover {
    background-position: 0px 0px;
    background-size: 300px 300px;
}

